{% if post.imageBanner %}
    <a href="{{ path('app_image_banner_edit', {id: post.imageBanner.id}) }}"
       class="text-decoration-none text-dark mx-2 text-white"
       title="Cliquez ici pour modifier l'article"><i
                class="fa-regular fa-pen-to-square"></i></a>

    <form method="post" action="{{ path('app_image_banner_delete', {id: post.imageBanner.id}) }}"
          style="display: inline-block"
          onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette image ?')">
        <input type="hidden" name="_token"
               value="{{ csrf_token('delete' ~ post.imageBanner.id) }}">
        <button style="padding: 0; border: none; background: none"
                title="Cliquez ici pour supprimer l'image"><i
                    class="fa-regular fa-trash-can me-2 text-danger"></i></button>
    </form>

{% else %}
    <a href="{{ path('app_image_banner_edit', {id: post.imageBanner.id}) }}"
       class="text-decoration-none text-dark mx-2 text-white"
       title="Cliquez ici pour modifier l'image de bannière"><i
                class="fa-regular fa-pen-to-square"></i></a>
{% endif %}
