{% extends 'base.html.twig' %}

{% block title "Création d'un article" %}

{% block body %}
    <div class="container mt-4">
        <h2>Créer un article</h2>
        <div class="my-5">
            {{ include('admin/post/_form.html.twig', {'button_label': 'Créer'}) }}
        </div>
    </div>
{% endblock %}





