<form method="post" action="{{ path('app_image_banner_delete', {'id': image_banner.id}) }}"
      onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_banner.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
