{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Créer une catégorie</h2>
        <div class="my-5">
            {{ include('admin/category/_form.html.twig', {'button_label': 'Créer'}) }}
        </div>
    </div>
{% endblock %}
